<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <div class="col mb-5" *ngFor="let product of products; let i = index">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="assets/Imagenes temporales de productos/sudadera_deportiva.jpg"
            alt="..."
            width="350px"
            height="280px"
            style="object-fit: cover"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ product.product }}</h5>
              <!-- Product price-->
              ${{ product.price }}
              <p class="text-muted">Stock: {{ completeProdList[i].stock }}</p>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a
                class="btn btn-primary mt-auto"
                href="#"
                (click)="addToCart(product.id_product)"
                >Agregar al carrito</a
              >
              <a
                (click)="productDetail(product.gtin)"
                type="button"
                class="btn btn-secondary mt-3"
              >
                Ver Detalle
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    </div>
  </div>
</section>
