<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<div class="container-fluid">
    <!-- Header  -->
    <div class="card">
        <div class="card-header">
            <h3>
                <div style="padding-left: 2rem;">Carrito</div>
            </h3>
        </div>
        <div class="card-body">
            <div *ngFor="let product of cart; let i=index">
                <div class="container container-fluid mt-7 mb-7">
                    <div class="d-flex justify-content-center row">
                        <div>
                            <div class="row p-2 bg-white border rounded">
                                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image"
                                        src="https://i.imgur.com/QpjAiHq.jpg"></div>
                                <div class="col-lg-6 mt-1">
                                    <h5>{{ product.product.product }}</h5>
                                    <div class="d-flex flex-row">
                                    </div>
                                </div>
                                <!-- Boton eliminar y precios -->
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                    <div class="d-flex flex-row align-items-center">
                                        <h4 style="margin: 0;">${{ product.product.price * product.quantity }}</h4><br>
                                    </div>
                                    <p class="text-muted"
                                        style="padding: 0; padding-left: 5px; margin-top: 0; margin-bottom: 5px;">${{
                                        product.product.price }}c/u</p>
                                    <h6 class="text-success">Envio Gratis</h6>
                                    <div class="d-flex flex-column mt-4">
                                        <button (click)="removeFromCart(product.id_cart)" class="btn btn-danger btn-sm"
                                            type="button">Eliminar Producto</button>
                                        <button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to
                                            wishlist</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button (click)="createPago()" style="float: right;" type="button" class="btn btn-primary">Pagar</button>
        </div>
    </div>
</div>

<!-- Modal para registrar los datos de la tarjeta de crédito para hacer la compra -->
<div class="modal" tabindex="1" role="dialog" id="pago_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Datos de tarjeta</h5>
                <button (click)="closeModalPago()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formulario" (ngSubmit)="onSubmitTarjeta()">
                    <div class="form-group">
                        <label for="rate">Ingresa tu nombre <span class="text-danger">*</span></label>
                        <input type="text" class="form-control marginForm" id="name" formControlName="name"
                            placeholder="Nombre">

                    </div>
                    <div class="form-group">
                        <label for="rate">Ingresa tu apellido <span class="text-danger">*</span></label>
                        <input type="text" class="form-control marginForm" id="surname" formControlName="surname"
                            placeholder="Apellido">

                    </div>
                    <div class="form-group">
                        <label for="rate">Ingresa tu dirección<span class="text-danger">*</span></label>
                        <textarea rows="2" class="form-control marginForm" id="address"
                            formControlName="address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="rate">Ingresa tu correo electrónico <span class="text-danger">*</span></label>
                        <input type="text" class="form-control marginForm" id="mail" formControlName="mail"
                            placeholder="Correo">

                    </div>
                    <div class="form-group">
                        <label for="rate">Ingresa el número de tu tarjeta <span class="text-danger">*</span></label>
                        <input type="text" class="form-control marginForm" id="numero_tarjeta"
                            formControlName="numero_tarjeta" placeholder="Número de tarjeta">

                    </div>
                    <div class="form-group">
                        <label for="rate">Ingresa los números de seguridad <span class="text-danger">*</span></label>
                        <input type="text" class="form-control marginForm" id="numero_seguridad"
                            formControlName="numero_seguridad" placeholder="Números de seguridad">

                    </div>
                    <div>
                        <br>
                        <p class="text-right"><span class="text-danger">*</span>Campos obligatorios</p>
                        <button type="submit" class="btn btn-success btn-block">Pagar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="closeModalPago()" type="button" class="btn btn-secondary"
                    data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>