/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.marginForm{
    margin-top: 5px;
    margin-bottom: 5px;
}

.bg-primary{
    background-color: #1D8FF2;
}

.btn-warning:hover{
    color: #FFFFFF;
    background-color: #FFFFFF;
    border-color: #FFC720; 
}
